
.postBox {
    transition: 0.3s;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;


}

.postImg {
    overflow: hidden;
    position: relative;
}

.postImg img {
    transition: 0.5s;
}

.meta {
    margin-top: 15px;
}

.postDate {
    font-size: 15px;
    font-weight: 400;
    color: var(--color-default);


}

.postAuthor {
    font-size: 13px;
    color: var(--color-secondary);
}

.postAuthor a {

    font-weight: 400;
    margin-left: 5px;
    text-transform: capitalize;

}

.postTitle {

    text-transform: capitalize;

    font-size: 18px;
    font-weight: 500;
    margin: 15px 0 0 0;
    position: relative;
    transition: 0.3s;

}

.postTitle a {

    color: var(--color-secondary);
}

.postBox p {
    margin: 15px 0 0 0;

    color: var(--color-default);
}

.readMore {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 1;
    transition: 0.3s;
    margin-top: 15px;

}

.readMore .Icon {
    line-height: 0;
    margin-left: 4px;
    font-size: 18px;

}

.postBox:hover .postTitle {
    color: var(--color-primary);
}

.postBox:hover .postImg img {
    transform: scale(1.1);
}
