.TopBar {
    /*background: #099319;*/
    /*background: #51b23d;*/
    background: #1bbd36;
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    color: #fff;
    padding: 0;
}


.TopBar i {
    padding-right: 6px;
    line-height: 0;
}
