
.SidebarListItem {
    border: none !important;
    padding: 0;
    list-style: none;
    margin-bottom: 5px;
}

.NavLink {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-text-1);
    background: var(--color-background1);
    padding: 10px 15px;
    border-radius: 4px;
    font-family: var(--font-heading);
}

.NavLink .icon {
    font-size: 16px !important;
    margin-right: 8px;
    line-height: 0;
    border-radius: 50% !important;
    color: #899bbd;
}

.NavLink:hover,
.NavLink.active {
    color: var(--color-secondary-brighter);
    background: #ededf1;
}

.ChevronDown {
    margin-left: auto; /* Adjust this to position the chevron correctly */
    transition: transform 0.3s ease-in-out; /* Smooth transition */
}

.Rotate {
    transform: rotate(180deg);
}

