
.SidebarListItem {
    border: none !important;
    padding: 0;
    list-style: none;
    margin-bottom: 5px;
}


.NavLink {
    background: var(--color-background1);
    padding: 10px 15px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-text-1);
    font-family: var(--font-heading);
    transition: 0.3s;
}


.NavLink .icon {
    font-size: 10px !important;
    margin-right: 8px;
    line-height: 0;
    border-radius: 50% !important;
    color: #899bbd;
}


.NavLink:hover, .NavLink.active {
    color: var(--color-secondary-brighter);
    background: #ededf1;
}


.NavLink.active .icon {
    color: var(--color-secondary-brighter);;
}
