.Entry {
    overflow: hidden;
    padding: 30px;
    margin-bottom: 60px;
    color: #111111;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}


.Image {
    max-height: 400px;
    overflow: hidden;
    margin: -30px -30px 30px -30px;
}

.Image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.Title {
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 20px 0;
}

.Title a {
    color: var(--color-secondary);
    letter-spacing: 1px;
    transition: 0.3s;
}


.Meta {
    background-color: var(--color-background2);
    margin-bottom: 15px;
    color: var(--color-text-2);
    padding: 0 10px;
}

.Meta ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

.Meta ul li + li {
    padding-left: 20px;
}

.Meta i {
    font-size: 16px;
    margin-right: 8px;
    color: var(--color-text-1);
    line-height: 0;
}

.Meta a {
    font-size: 14px;
    display: inline-block;
    line-height: 1;
    color: var(--color-secondary);
}

.Meta a:hover {
    text-decoration: underline;
}

.Meta span {
    font-size: 14px;
    color: var(--color-mixed-paragraph-10);
    display: inline-block;
    line-height: 1;
}


.Content p, .Content ul li {
    line-height: 26px;
    color: var(--color-text-1);
    font-family: var(--font-default);
}


.Content h2, .Content h3, .Content h4, .Content h5, .Content h6 {
    font-size: 22px;
    font-weight: 500;
}

.Content img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}


.Content blockquote {
    overflow: hidden;
    background-color: var(--color-background2);
    padding: 20px;
    position: relative;
    color: var(--color-paragraph);
    line-height: 1.6;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;

}

.Content blockquote::after {
    height: 100%;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: var(--color-secondary);
    margin-bottom: 10px;
}

.Footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid var(--color-mixed-default-88);
}

.Footer i {
    color: var(--color-mixed-paragraph-10);
    display: inline;
    margin-right: 5px;
}

.Footer a {
     color: var(--color-text-1);
    transition: 0.3s;
}

.Footer a:hover {
    color: #1bbd36;
}

.Cats {
    list-style: none;
    display: inline;
    padding: 0 20px 0 0;
    font-size: 14px;
}

.Cats li {
    display: inline-block;
}

.Tags {
    list-style: none;
    display: inline;
    padding: 0;
    font-size: 14px;
}

.Tags li {
    display: inline-block;
}

.Tags li + li::before {
    padding-right: 6px;
    color: #6c757d;
    content: ",";
}

.Cats li + li::before {
    padding-right: 6px;
    color: #6c757d;
    content: ",";
}

/*.Item {*/
/*    */
/*  */
/*}*/

.Badge {
    position: absolute;
    right: -40px;
    cursor: pointer;
    top: -20px;
    z-index: 10;
    background: red;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
}