.Breadcrumbs {
    padding: 10px 0;
    background-color: #ffffff;
    min-height: 20px;
}


.Breadcrumbs h2 {
    font-size: 16px;
    font-weight: 300;
}

.Breadcrumbs ol {
    font-size: 11px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}
.Breadcrumbs a {
    color: #fafafa;
    text-transform: uppercase;
}

.Breadcrumbs ol li + li::before {
    display: inline-block;
    padding:  0 5px;
    color: #6c757d;
    content: '/';
}


.Breadcrumbs ol li + li:last-child:before {
    content: ''
}


@media (max-width: 768px) {
    .Block {
        display: block !important;
    }

    .Breadcrumbs ol {
        display: block;
    }

    .Breadcrumbs ol li {
        display: inline-block;
    }


}