.downloader {
    width: 500px;
    min-height: 128px;
    position: fixed;
    right: 18px;
    bottom: 18px;
    max-height: 700px;
    overflow-y: auto;
}

.cardHeader {
    color: #fff;
    background-color: #106eea;
}

.listGroup {
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
}