.DrawerToggle {
    color: #2c4964;
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
}

.bix {
    position: fixed;
    font-size: 32px;
    top: 15px;
    color: #fff;
    right: 15px;

}

@media (min-width: 991px) {
    .DrawerToggle {
        display: none;
    }
}