.section {
    background: #e9fbe9;
    /*background: #1bbd36;*/
}


.SectionTitle h2 {
    color: #178217;
}

.SectionTitle h2::after {
    background: #178217;
}

.card {
    /*background: #00458f;*/
    /*border-color: #00458f; */

    background: #178217;
    border-color: #178217;
    border-radius: 10px;
    margin: 0 15px;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s ease-in-out;
    height: 100%;
}

@media (max-width: 991px) {
    .card {
        margin: 0;
    }
}

/*.card:hover {*/
/*    background:  #52e052;*/
/*    border-color:  #52e052;*/
/*}*/

.card i {
    font-size: 48px;
    padding-top: 15px;
    color: #ffffff;
}

.card h3 {
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 600;
}

.card p {
    font-size: 15px;
    color: #ffffff;
}

.card .readMore {
    color: #fff;
    font-weight: 600;
    display: inline-block;
    transition: 0.3s ease-in-out;
    border-bottom: #fff solid 2px;
}

.card .readMore:hover {
    border-bottom: #f4a024 solid 2px;
}