.Footer {
    color: #fff;
    font-size: 12px;
    background: #111;
}

.FooterTop {
    padding: 60px 0 30px 0;
    background: #1e1e1e;
}


.Copyright {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}