.SocialLinks a {
    font-size: 18px;
    display: inline-block;
    background: #0366d6;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;

}

.SocialLinks a:hover {
    color: #0366d6;
    background: #f1f6fd;
    text-decoration: none;
}