
.FooterInfo h4 {


    text-transform: uppercase;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: bold;
    position: relative;


}

.FooterInfo p {
    line-height: 24px;
    color: #bebebe;
    margin-bottom: 0;
    font-family: "Muli", sans-serif;

}
