.FooterLinks {
    margin-bottom: 30px;
}

.FooterLinks h4 {
    font-size: 16px;
    font-weight: bold;
    font-family: var(--font-secondary);
    color: var(--color-contrast);
    position: relative;
    padding-bottom: 12px;

}

.FooterLinks ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.FooterLinks ul li {
    text-transform: capitalize;
}

.FooterLinks ul i {
    padding-right: 2px;
    color: var(--color-accent);
    font-size: 13px;
    line-height: 1;
}