.FooterLinks {
   margin-bottom: 30px;
}

.FooterLinks h4 {
     font-size: 16px;
  font-weight: bold;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

.FooterLinks ul {
    list-style: none;
  padding: 0;
  margin: 0;
}

.FooterLinks ul i {
    padding-right: 2px;
  color: #1ed33c;
  font-size: 18px;
  line-height: 1;
}