.Footer {
    /*background: #343434;*/
    background: #4154f1;
    color: #fff;
    font-size: 14px;
}

.FooterTop {
    padding: 60px 0 30px 0;
    /*background: #343434;*/
    background: #4154f1;
    border-bottom: 1px solid #fff;
}


.Copyright {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}