:root {
    --font-default: "Questrial", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Roboto", sans-serif;
    --font-secondary: "Open Sans", sans-serif;
}

/* Colors */
:root {
    /*--color-primary: #009F6B;*/
    --color-primary: #0e8d45;
    --color-default: #364d59;
    --color-secondary: #27a9e1;
    --color-secondary1: #2c4964;
    --color-secondary-rgb: 72, 86, 100;
    --color-secondary-light-rgb: 143, 159, 174;
    --color-secondary-dark-rgb: 58, 71, 83;
    --color-yellow: #f4a024;
    --color-cadimium-yellow: #FDDA0D;
    --pale-green: #b3e0b3;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-white-rgb: 255, 255, 255;
    --color-header: #52565e;

}

/* Smooth scroll behavior */
:root {
    scroll-behavior: smooth;
}


body {
    font-family: var(--font-default);
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    letter-spacing: -0.13px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-default);
}


a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    color: #ffc732;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0s !important;
    }
}


#top-bar {
    background: var(--color-primary);
    min-height: 35px;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.5s;
    color: var(--color-cadimium-yellow);
    padding: 0;
}

#top-bar .contact-info i {
    font-style: normal;
    color: rgba(var(--color-white), 0.7);
    border-left: 1px solid #fff;
    line-height: 1.1;
    list-style: outside none none;
    margin-left: 15px;
    padding-left: 15px;
}

#top-bar .contact-info i:first-child {
    border-left: none;
}


#top-bar .contact-info i a,
#top-bar .contact-info i span {
    padding-left: 5px;
    color: var(--color-white);
    font-size: 12px;
}

#top-bar .contact-info i a {
    line-height: 0;
    transition: 0.3s;
}

#top-bar .contact-info i a:hover {
    color: var(--color-white);
    text-decoration: underline;
}

#top-bar .social-links a {
    color: rgba(var(--color-white), 0.7);
    line-height: 0;
    transition: 0.3s;
    font-size: 26px;
    margin-left: 20px;
}

#top-bar .social-links a:hover {
    color: white;
}

@media (max-width: 1279px) {
    #top-bar {
        display: none !important;
    }
}

@media (max-width: 767px) {

    #top-bar .contact-info {
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 10px;
        font-size: 13px;

    }

    #top-bar .contact-info i {
        border-left: none;
        margin-bottom: 10px;
        margin-left: 0;
        padding-left: 0;
    }

    #top-bar .contact-info i:last-child {
        border-left: 1px solid #fff;
        margin-left: 15px !important;
        padding-left: 15px;

    }


    #top-bar .social-links {
        justify-content: center;

    }

    /*#top-bar .social-links a {*/
    /*    font-size: 40px;*/
    /*}*/
    .custom-margin {
        margin-left: 0 !important;
    }
}


#header {
    background: var(--color-white);
    z-index: 997;
    height: 55px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
}

#header .logo img {
    max-height: 45px;
    transition: max-height 0.5s ease;
}


#header.fixed-top .logo img {
    max-height: 40px;
    transition: max-height 0.5s ease;
}


#header .logo-scrolled img {
    max-height: 40px;
}


/*--------------------------------------------------------------
# Desktop Navigation
--------------------------------------------------------------*/
@media (min-width: 1280px) {

    .navbar {
        padding: 0;
        position: relative;
    }

    .navbar ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }

    .navbar li {
        position: relative;
        border-left: 0.15mm solid #c7d0e7;
    }

    /*.navbar li:last-child {*/
    /*    border-right: 0.15mm solid #c7d0e7;*/
    /*}*/
    .navbar > ul > li {
        white-space: nowrap;
    }

    .navbar a,
    .navbar a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        font-size: 14px;
        font-weight: 400;
        text-transform: capitalize;
        color: var(--color-default);
        white-space: nowrap;
        transition: 0.3s;
        position: relative;
    }

    .navbar a i,
    .navbar a:focus i {
        font-size: 13px;
        line-height: 0;
        margin-left: 5px;
    }

    /*.navbar > ul > li > a:before {*/
    /*    content: "";*/
    /*    position: absolute;*/
    /*    width: 100%;*/
    /*    height: 2px;*/
    /*    bottom: 0;*/
    /*    left: 0;*/
    /*    background-color: var(--color-secondary);*/
    /*    visibility: hidden;*/
    /*    transform: scaleX(0);*/
    /*    transition: all 0.3s ease-in-out 0s;*/
    /*}*/
    /*.navbar a:hover:before,*/
    /*.navbar li:hover > a:before,*/
    /*.navbar .active:before {*/
    /*    visibility: visible;*/
    /*    transform: scaleX(0.7);*/
    /*}*/
    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover > a {
        color: var(--color-secondary);
    }

    .navbar .dropdown a:hover:before,
    .navbar .dropdown:hover > a:before,
    .navbar .dropdown .active:before {
        visibility: hidden;
    }

    .navbar .dropdown a:hover,
    .navbar .dropdown .active,
    .navbar .dropdown .active:focus,
    .navbar .dropdown:hover > a {
        color: var(--color-white);
        background: var(--color-secondary);
    }

    .navbar .dropdown ul {
        display: block;
        position: absolute;
        left: 0;
        top: 100%;
        margin: 0;
        padding: 0 0 10px 0;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        background: #ffffff;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        border-top: 4px solid var(--color-secondary);
        transition: 0.3s;

    }

    .navbar .dropdown ul li {
        min-width: 200px;
    }

    .navbar .dropdown ul a {
        padding: 10px 20px;
        font-size: 13px;
        text-transform: capitalize !important;
        font-weight: 500;
        color: var(--color-default);
    }

    .navbar .dropdown ul a i {
        font-size: 12px;
    }

    .navbar .dropdown ul a:hover,
    .navbar .dropdown ul .active,
    .navbar .dropdown ul .active:hover,
    .navbar .dropdown ul li:hover > a {
        color: var(--color-secondary);
        background: transparent;
    }

    .navbar .dropdown:hover > ul {
        opacity: 1;
        visibility: visible;
    }

    .navbar .megamenu {

        position: static;
    }

    .navbar .megamenu ul {
        right: 0;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

    }


    .navbar .megamenu ul li {
        flex: 1 1 200px; /* Flex-grow, flex-shrink, and initial flex-basis */
        box-sizing: border-box;
        border: none;

    }

    .navbar .megamenu ul li a {
        text-transform: capitalize;
        font-size: 13px;
        line-height: 18px;
        padding: 8px 10px;
        white-space: normal; /* Allow text to wrap */
    }

    .navbar .megamenu ul li a .icon2 {
        font-size: 16px !important;
        margin-right: 5px;
    }

    .navbar .megamenu ul li a,
    .navbar .megamenu ul li:hover > a {
        color: var(--color-default);
        background: none;
    }

    .navbar .megamenu ul li a:hover,
    .navbar .megamenu ul li .active,
    .navbar .megamenu ul li .active:hover {
        color: var(--color-secondary);
    }

    .navbar .dropdown .dropdown ul {
        top: 0;
        left: calc(100% - 30px);
        visibility: hidden;
    }

    .navbar .dropdown .dropdown:hover > ul {
        opacity: 1;
        top: 0;
        left: 100%;
        visibility: visible;
    }

    .navbar .staff-link,
    .navbar .staff-link:focus {
        padding: 8px 20px;
        margin-left: 30px;
        border-radius: 50px;
        color: var(--color-black);
        background: var(--color-cadimium-yellow);
        font-size: 15px;
        font-weight: 600;
    }

    .navbar .staff-link:hover,
    .navbar .staff-link:focus:hover {
        color: var(--color-primary);

    }
}

@media (min-width: 1280px) and (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover > ul {
        left: -100%;
    }
}

/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
@media (max-width: 1279px) {

    .backdrop {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 9990;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .navbar {
        position: fixed;
        top: 0;
        right: -100%;
        width: calc(100% - 100px);
        bottom: 0;
        transition: 0.3s;
        z-index: 9997;
    }

    .show-mobile-nav {
        right: 0;
    }

    .navbar ul {
        position: absolute;
        inset: 0;
        padding: 10px 32px;
        /*padding: 10px 0;*/
        margin: 0;
        background: rgba(var(--color-secondary-rgb), 0.9);
        overflow-y: auto;

        transition: 0.3s;
        z-index: 9998;
        list-style-type: none;

    }

    .navbar ul > li:first-child {
        margin: 50px 0 0 0;
    }

    .navbar a,
    .navbar a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        font-size: 12px !important;
        font-weight: 500;
        color: rgba(var(--color-white-rgb), 0.9);
        white-space: nowrap;
        overflow: hidden;
        transition: 0.3s;

        text-transform: capitalize;
        border-bottom: 1px solid rgba(var(--color-secondary-light-rgb), 0.3);
    }

    .navbar a span {
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
    }


    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus {
        color: var(--color-yellow);
    }


    .navbar .dropdown ul,
    .navbar .dropdown .dropdown ul {
        position: static;
        display: none;
        padding: 0 20px;
        margin: 0;
        transition: all 0.9s ease-in-out;
        background: transparent;
        overflow: hidden;

    }

    .navbar .dropdown span {
        color: var(--color-white);
    }

    .navbar ul .dropdown li:first-child, .navbar ul .dropdown .dropdown li:first-child {
        margin: 0

    }

    .navbar .dropdown > .dropdown-active,
    .navbar .dropdown .dropdown > .dropdown-active {
        display: block;

    }

    .mobile-nav-toggle {
        display: block !important;
        color: var(--color-secondary1);
        font-size: 28px;
        cursor: pointer;
        line-height: 0;
        transition: 0.5s;
        position: fixed;
        top: 20px;
        z-index: 9999;
        right: 20px;
    }

    .mobile-nav-toggle.bi-x {
        color: var(--color-white);
    }

    .mobile-nav-active {
        overflow: hidden;
        z-index: 9995;
        position: relative;
    }

    .mobile-nav-active .navbar {
        left: 0;
    }

    .mobile-nav-active .navbar:before {
        content: "";
        position: fixed;
        inset: 0;
        background: rgba(var(--color-secondary), 0.8);
        z-index: 9996;
    }
}

.breadcrumbs {
    padding: 100px 0 60px 0;
    min-height: 20vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.breadcrumbs:before {
    content: "";
    background-color: rgba(27, 47, 69, 0.4);
    position: absolute;
    inset: 0;
}


.breadcrumbs h1 {
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 36px;
    color: var(--color-white);

}


.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-primary);
    font-family: var(--font-primary);
}

.breadcrumbs ol a {
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.8);
    transition: 0.3s;
}

.breadcrumbs ol a:hover {
    text-decoration: underline;
}

.breadcrumbs ol li + li {
    padding-left: 10px;

}

.breadcrumbs ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: #fff;
    content: "/";
}

.breadcrumbs ol li nav ol li:last-child a {
    color: var(--color-cadimium-yellow);
}

@media (max-width: 726px) {
    .breadcrumbs h1 {
        font-size: 22px;
        font-weight: 500;
        line-height: 26px;
        text-align: center;
    }

    .breadcrumbs ol {
        justify-content: center;
    }

    .breadcrumbs ol a {
        color: rgba(255, 255, 255, 0.8);
        transition: 0.3s;
        font-size: 13px;
    }

}

section {
    padding: 60px 0;
    overflow: hidden;
    position: relative;
}

.section-bg {
    /*background-color: #f6f9fe;*/
    background-color: #eeeeee;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    margin: 0;
    background: #e7f1fd;
    color: var(--color-primary);
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
}

.section-title h3 {
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
    color: var(--color-secondary);

}

.section-title h3 span {
    color: var(--color-primary);
}

.section-title p {
    margin: 15px auto 0 auto;
    font-weight: 600;
}

@media (min-width: 1024px) {
    .section-title p {
        width: 50%;
    }
}

.section-bg-2 {
    background-color: var(--pale-green);
}

.section-bg-skew, .section-bg-skew-2 {
    padding: 120px 0;
    color: #fff;
}

.section-bg-skew:before {
    background: #f3f5fa;
}

.section-bg-skew-2:before {
    background: #ffffff;

}

.section-bg-skew p {
    color: #333333;

}

.section-bg-skew:before, .section-bg-skew-2:before {
    content: "";
    opacity: 3;
    position: absolute;
    bottom: 60px;
    top: 60px;
    left: 0;
    right: 0;
    transform: skewY(-3deg);
}


#nprogress .bar {
    height: 5px !important;
    background: var(--color-primary) !important;
}

.ql-editor {
    min-height: 300px;
}

.featured-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

/*#home-hero {*/
/*    width: 100%;*/
/*    height: 75vh;*/
/*    position: relative;*/
/*    padding: 160px 0 80px 0;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    margin-bottom: -150px;*/


/*}*/

/*#home-hero img {*/
/*    position: absolute;*/
/*    inset: 0;*/
/*    display: block;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    -o-object-fit: cover;*/
/*    object-fit: cover;*/
/*    z-index: 1;*/
/*}*/


/*#home-hero:before {*/
/*    !*background: linear-gradient(45deg, rgba(0, 128, 0, 0.55), rgba(255, 255, 0, 0.545));*!*/
/*    !*background: linear-gradient(45deg, rgba(29, 224, 153, 0.4), rgba(29, 200, 205, 0.7));*!*/
/*    opacity: 0.5;*/
/*    content: '';*/
/*    background: rgba(0, 0, 0, 0.5);*/
/*    position: absolute;*/
/*    inset: 0;*/
/*    z-index: 2;*/
/*}*/

/*#home-hero .container {*/
/*    position: relative !important;*/
/*    max-width: 560px;*/
/*    z-index: 3;*/
/*    border-radius: 0 152px 0 0;*/
/*    padding: 20px 80px 20px 10px;*/
/*    margin-left: 110px;*/
/*    background: rgba(4, 4, 4, 0.7);*/
/*    color: #fff;*/
/*    border-right: 8px solid var(--color-cadimium-yellow);*/
/*}*/


/*.hero-header {*/
/*    text-align: center;*/

/*}*/

/*.hero-header h2 {*/
/*    font-family: var(--font-default);*/
/*    font-size: 26px;*/
/*    line-height: 26px;*/
/*    font-weight: 700;*/
/*    color: var(--color-white);*/
/*    !*text-shadow: 3px 3px var(--color-primary);*!*/
/*    position: relative;*/
/*    margin-bottom: 20px;*/

/*}*/

/*!*.hero-header h2:before,*!*/
/*!*.hero-header h2:after {*!*/
/*!*    content: "";*!*/
/*!*    width: 15px;*!*/
/*!*    height: 3px;*!*/
/*!*    background: var(--color-yellow);*!*/
/*!*    display: inline-block;*!*/
/*!*}*!*/

/*!*.hero-header h2:before {*!*/
/*!*    margin: 0 15px 10px 0;*!*/
/*!*    font-size: 14px;*!*/
/*!*}*!*/

/*!*.hero-header h2:after {*!*/
/*!*    margin: 0 0 10px 15px;*!*/
/*!*}*!*/

/*.hero-header p {*/
/*    margin: 0 auto;*/
/*    font-size: 13px;*/
/*    color: var(--color-white);*/
/*}*/

/*!*@media (min-width: 1199px) {*!*/
/*!*    .hero-header p {*!*/
/*!*        max-width: 60%;*!*/
/*!*    }*!*/
/*!*}*!*/


/*@media (min-width: 1024px) {*/
/*    #home-hero {*/
/*        background-attachment: fixed;*/
/*    }*/
/*}*/


/*@media (max-width: 768px) {*/
/*    #home-hero {*/
/*        height: 60vh;*/
/*    }*/

/*    #home-hero .container {*/
/*        padding-top: 60px;*/
/*        margin-left: 10px;*/
/*        margin-right: 10px;*/
/*        margin-bottom: 100px;*/

/*    }*/

/*    #home-hero h2 {*/
/*        font-size: 28px;*/
/*        line-height: 28px;*/
/*        font-weight: 700;*/
/*        text-shadow: none;*/
/*        margin-bottom: 10px;*/
/*    }*/

/*    .hero-header h2:before,*/
/*    .hero-header h2:after {*/

/*        display: none;*/
/*        visibility: hidden;*/

/*    }*/
/*}*/


#hero {
    width: 100%;
    background-color: rgba(4, 12, 21, 0.8);
    overflow: hidden;
    position: relative;
    height: 75vh;
    margin-bottom: -100px;


}

#hero .carousel, #hero .carousel-inner, #hero .carousel-item, #hero .carousel-item::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#hero .carousel-item {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

#hero .carousel-item img {
    z-index: 1;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

#hero .carousel-item::before {
    z-index: 2;
    content: "";
    background-color: rgba(4, 12, 21, 0.3);
}

#hero .carousel-container {
    z-index: 999;
    display: flex;
    align-items: center;
    position: relative;
    top: 37%;
    left: 7.5%;
    height: auto;
    border-right: 8px solid var(--color-yellow);
    max-width: 37.1%;
    border-radius: 0 152px 0 0;
    background: rgba(255, 255, 255, 0.85);
    padding: 18px 45px 18px 25px;
    text-align: left;
    width: auto;

    /*    position: relative !important;*/
    /*    max-width: 560px;*/
    /*    z-index: 3;*/
    /*    border-radius: 0 152px 0 0;*/
    /*    padding: 20px 80px 20px 10px;*/
    /*    margin-left: 110px;*/
    /*    background: rgba(4, 4, 4, 0.7);*/
    /*    color: #fff;*/
    /*    border-right: 8px solid var(--color-cadimium-yellow);*/
}

#hero h2 {
    margin-bottom: 10px;
    line-height: 1.2;

}

#hero h2 a {
    font-size: 28px;
    color: var(--color-secondary1);
    font-weight: 500;
    text-shadow: -1px 1px 1px #ffffff;
    text-transform: capitalize;
}

#hero p {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    color: var(--color-secondary1);
    margin-bottom: 5px;
    font-size: 17px;
    text-shadow: 0 0 2px #ffffff;
}


#hero .carousel-inner .carousel-item {
    transition-property: opacity;
    background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
    opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
    opacity: 1;
    transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
    left: 0;
    transform: translate3d(0, 0, 0);
}

#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
    background: none;
    font-size: 30px;
    line-height: 0;
    background: var(--color-primary);
    border-radius: 50px;
    transition: 0.3s;
    color: var(--color-white);
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero .carousel-control-next-icon:hover, #hero .carousel-control-prev-icon:hover {
    background: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.8);
}

#hero .carousel-indicators li {
    cursor: pointer;
    background: #fff;
    overflow: hidden;
    border: 0;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    opacity: 0.6;
    transition: 0.3s;
}

#hero .carousel-indicators li.active {
    opacity: 1;
    background: var(--color-primary);
}


@media (max-width: 992px) {
    /*#hero {*/
    /*    height: 100vh;*/
    /*}*/
    #hero .carousel-container {
        text-align: center;
        max-width: 70%;
        left: 15%;
    }
}

@media (max-width: 768px) {
    #hero h2 {
        font-size: 24px;
    }
}

@media (min-width: 1024px) {
    #hero .carousel-control-prev, #hero .carousel-control-next {
        width: 5%;
    }
}

@media (max-height: 500px) {
    #hero {
        height: 120vh;
    }
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: var(--color-primary);
}

.preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid var(--color-primary);
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.back-to-top {
    position: fixed;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: var(--color-primary);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: var(--color-secondary);
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}


.header-bg {
    z-index: 1;
    padding: 120px 0 180px;
}

.header-bg::before {
    z-index: 1;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /*background: #294a70;*/
    background: var(--color-primary);


}

@media (min-width: 1025px) {
    .header-bg {
        background-attachment: fixed;
    }
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered h1 {
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 0;
}

.centered h2 {
    color: #fff;
    font-size: 38px;
    line-height: 40px;
    margin-bottom: 0;
}

.btn-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}

.btn {
    margin-bottom: 10px;
}

#clients {

    padding: 6px 0;
    background: #eff5f5;
    border: none;
    text-align: center;
}

#clients img {
    max-width: 25%;
    object-fit: contain;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 6px 0;
    /*filter: grayscale(100);*/
}

#clients img:hover {
    filter: none;
    transform: scale(1.1);
}

/*@media (max-width: 768px) {*/
/*    #clients img {*/
/*        max-width: 40%;*/
/*    }*/
/*}*/

.page-intro h4 {
    font-size: 22px;
    font-weight: bold;
    color: var(--color-primary);
    padding-bottom: 12px;
}

.page-intro ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-intro ul i {
    padding-right: 2px;
    color: var(--color-primary);
    font-size: 18px;
    line-height: 1;
}


.page-intro ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.page-intro ul a {
    color: #111;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

.page-intro ul a:hover {
    text-decoration: none;
    color: var(--color-primary);
}


/*.organogram .accordion-list {*/
/*    padding: 0 100px 60px 100px;*/
/*}*/

.organogram .accordion-button, .laboratory .accordion-button {
    box-shadow: none;
    width: 100% !important;
    background: #fff;
    color: var(--color-secondary);
    font-family: var(--font-primary);
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
}


.organogram .accordion-list span, .laboratory .accordion-list span {
    color: var(--color-secondary);
    font-weight: 600;
    font-size: 18px;
    padding-right: 10px;
}

.organogram .accordion-button::after, .laboratory .accordion-button::after {
    font-size: 24px;
}

.organogram .accordion-body, .laboratory .accordion-body {
    margin-bottom: 0;
    padding: 0 1.25rem;
}

.homepage-about {
    position: relative;
}

.homepage-about .content p {
    color: var(--color-default);
    font-size: 14px;
    margin: 0 0 15px 0;
}

.homepage-about .content p:last-child {
    margin-bottom: 0;
}

.homepage-about .btn {
    margin-top: 20px;
    background: linear-gradient(45deg, #1de099, #1dc8cd);
    border: 0;
    border-radius: 20px;
    padding: 8px 30px;
    color: #fff;
}

/*.homepage-about .btn:hover {*/
/*    background: #52e052;*/
/*    color: #fff;*/
/*    text-decoration: none;*/
/*}*/

.cta {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.95)), url("/herp.jpg") fixed center center;
    background-size: cover;
    padding: 80px 0;
    overflow: hidden;
}


.cta .cta-title {
    color: var(--color-secondary);
    font-size: 32px;
    font-weight: 700;
}

.cta .cta-text {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
}

.cta .cta-text span {
    font-size: 20px;
    font-weight: 700;
    margin-right: 10px;
    margin-left: 10px;
    color: var(--color-secondary);


}

@media (min-width: 769px) {
    .cta .cta-btn-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.cta .cta-btn {
    font-family: var(--color-primary);
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 25px;
    transition: background 0.5s;
    margin: 10px;
    border: 2px solid var(--color-secondary);
    color: var(--color-secondary)
}

.cta .cta-btn:hover {
    background: var(--color-secondary);
    border: 2px solid var(--color-secondary);
    color: var(--color-black);
}


.featured {
    background: #e9fbe9;
    /*background: #1bbd36;*/
}


.featured .card {
    /*background: #00458f;*/
    /*border-color: #00458f; */

    background: var(--color-primary);
    border-color: var(--color-primary);
    border-radius: 10px;
    margin: 0 15px;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s ease-in-out;
    height: 100%;
}

@media (max-width: 991px) {
    .featured .card {
        margin: 0;
    }
}

/*.card:hover {*/
/*    background:  #52e052;*/
/*    border-color:  #52e052;*/
/*}*/

.featured .card i {
    font-size: 48px;
    padding-top: 15px;
    color: #ffffff;
}

.featured .card h3 {
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 600;
}

.featured .card p {
    font-size: 15px;
    color: #ffffff;
}


.home-blog .post-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;

}

.home-blog .post-image {
    overflow: hidden;
    margin: -30px -30px 15px -30px;
    position: relative;
}

.home-blog .post-image img {
    transition: 0.5s;
}

.home-blog .post-date {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-secondary);
    display: block;
    margin-bottom: 10px;
}

.home-blog .post-title {
    font-size: 18px;
    color: var(--color-secondary);
    font-weight: 700;
    margin-bottom: 9px;
    text-transform: capitalize;
    position: relative;
    transition: 0.3s;
}

.home-blog .l-btn {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 1;
    color: var(--color-primary);
    transition: 0.3s;
}

.home-blog .l-btn i {
    line-height: 0;
    margin-left: 4px;
    font-size: 18px;
    color: var(--color-primary);
}

.home-blog .post-box:hover .PostTitle {
    color: var(--color-secondary);
}

.home-blog .post-box:hover .PostImg img {
    transform: rotate(6deg) scale(1.2);
}


.home-roles .content h3 {
    font-weight: 600;
    font-size: 26px;
}

.home-roles .content ul {
    list-style: none;
    padding: 0;
}

.home-roles .content ul li {
    padding-left: 28px;
    position: relative;
}

.home-roles .content ul li + li {
    margin-top: 10px;
}

.home-roles .content ul .icon {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px !important;
    color: var(--color-primary);
    line-height: 1;
}

.home-roles .content p:last-child {
    margin-bottom: 0;
}

.home-roles .content .btn-learn-more {
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 4px;
    transition: 0.3s;
    line-height: 1;
    color: var(--color-primary);
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid var(--color-primary);
}

.home-roles .content .btn-learn-more:hover {
    background: var(--color-primary);
    color: #fff;
    text-decoration: none;
}

.temporary {
    min-height: 450vh !important;
}


.gallery-home {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url("/home/strategic.jpg") fixed center center;
    background-size: cover;
    z-index: 2;
    padding: 80px 0;
    overflow: hidden;
}

.gallery-home a, .gallery-home h3, .gallery-home span {
    color: #fff !important;
}


.custom-shape-divider-top-1703775764 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

}

.custom-shape-divider-top-1703775764 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 60px;
}

.custom-shape-divider-top-1703775764 .shape-fill {
    fill: var(--color-primary);
}

.custom-shape-divider-bottom-1703782321 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1703782321 svg {
    position: relative;
    display: block;
    width: calc(107% + 1.3px);
    height: 60px;
}

.custom-shape-divider-bottom-1703782321 .shape-fill {
    /*fill: #1e1e1e; */
    fill: #1e1e1e;
}

.custom-shape-divider-top-1703782965 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1703782965 svg {
    position: relative;
    display: block;
    width: calc(107% + 1.3px);
    height: 60px;
}

.custom-shape-divider-top-1703782965 .shape-fill {
    fill: #f3f5fa;
}

.about-count {
    background: var(--color-white);
    /*border: 1px solid rgba(82, 86, 94, 0.05);*/
    /*box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); !* Adjust the shadow as needed *!*/

    padding: 40px; /* Adjust padding based on your design */
}

.counts .count-box {
    background: #fff;
    box-shadow: 0px 0 30px rgba(82, 86, 94, 0.05);
    padding: 30px;
}

.counts .count-box .icon {
    font-size: 42px;
    line-height: 0;
    margin-right: 20px;
    color: var(--color-secondary);
}

.counts .count-box span {
    font-size: 36px;
    display: block;
    font-weight: 600;
    color: var(--color-secondary1);
}

.counts .count-box p {
    padding: 0;
    margin: 0;
    font-family: var(--font-primary);
    font-size: 14px;
}


.emergency-area {
    overflow: hidden;
    background-size: cover;
    background: url("/herp.jpg") no-repeat fixed top center;
    width: 100%;
    height: auto;
    position: relative;
}

.work-left-text {
    background: #3EC1D5 none repeat scroll 0 0;
}

.work-right-text {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
}

.work-right-text h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
}

.work-right-text p {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 34px;

}

.work-right-text .sus-btn {
    margin-left: 0;
    margin-top: 20px;
}

.single-awesome-4 {
    display: block;
    float: left;
    overflow: hidden;
    width: 33.33%;
}

.single-awesome-4 .add-actions {
    padding: 10px 20px;
}

.hospital-info {
    z-index: 99;
}

.hospital-info .content {
    padding: 30px;
    background: var(--color-primary);
    border-radius: 4px;
    color: #fff;
}

.hospital-info .content h3 {
    font-weight: 500;
    font-size: 34px;
    color: var(--color-cadimium-yellow);
    margin-bottom: 30px;
}

.hospital-info .content p {
    margin-bottom: 30px;
    font-size: 14px;
}

.hospital-info .content .more-btn {
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    padding: 6px 30px 8px 30px;
    color: #fff;
    border-radius: 50px;
    transition: all ease-in-out 0.4s;
}

.hospital-info .content .more-btn .icon {
    font-size: 14px;
}

.hospital-info .content .more-btn:hover {
    color: var(--color-yellow);
    background: #fff;
}

.hospital-info .services-boxes .service-box {
    text-align: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    width: 100%;

}

.hospital-info .services-boxes .service-box .icon {
    font-size: 80px !important;
    color: var(--color-yellow) !important;
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid var(--color-yellow) !important;

}

.hospital-info .services-boxes .service-box h4 {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-black);
    margin: 0 0 30px 0;
}

.hospital-info .services-boxes .service-box p {
    font-size: 15px;
    color: #848484;
}


.services-detail h2, .services-detail h3, .services-detail h4, .services-detail h5, .services-detail h6 {
    margin-bottom: 20px;
    font-weight: 700;
    font-family: var(--font-default);
    color: var(--color-header);
}

.services-detail h2 {
    font-size: 26px;

}

.services-detail h3 {
    font-size: 20px;

}

.services-detail h4 {
    font-size: 18px;

}

.services-detail h5 {
    font-size: 16px;

}

.services-detail h6 {
    font-size: 16px;

}

.services-detail h2::first-letter, .services-detail h3::first-letter, .services-detail h4::first-letter, .services-detail h5::first-letter, .services-detail h6::first-letter {
    text-transform: uppercase;
}

.services-detail p {
    line-height: 24px;
    margin: 0 0 10px 0;
    overflow: hidden;
    font-weight: 500;
}

.services-detail p, .services-detail ul li {
    color: var(--color-default);
    font-weight: 500;
}


.services-detail ul {
    list-style-type: none;

}


.services-detail ul:not(.pagination-data) li::before {
    content: url('https://api.iconify.design/bi/chevron-double-right.svg?height=14&color=%23364d59');
    margin-right: 10px;
}


.services-detail blockquote {
    overflow: hidden;
    background-color: #e9fbe9;
    padding: 20px;
    position: relative;
    /*margin: 20px 0;*/
    color: black;
    line-height: 1.6;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 15px;
}

.services-detail blockquote p, .services-detail blockquote h3, .services-detail blockquote h4, .services-detail blockquote h5, .services-detail blockquote h6 {
    color: #178217;
}

.services-detail blockquote::after {
    height: 100%;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: #52e052;
    margin-bottom: 10px;
}

.services-detail .services-detail-items {
    /*padding: 0px;*/
    /*border: 1px solid #eeeeee;*/
    margin-bottom: 20px;
    background: var(--color-white);
}

.services-detail .services-detail-items {
    background: #eeeeee;
    padding-bottom: 8px;
}


.services-detail .services-detail-items h2 {
    background: var(--color-primary);
    color: var(--color-white);
    border: 1px solid var(--color-primary);
    font-size: 16px;
    font-family: var(--font-secondary);
    padding: 8px 0 8px 15px;
    text-transform: capitalize;
    /*margin-top: 20px;*/
}

.services-detail .services-detail-items .tags {
    margin: 20px;
}

.services-detail .services-detail-items .tag {
    display: flex;
    line-height: 1;
    padding: 12px 0 10px 6px;
    /*border: 1px solid var(--color-primary);*/
    background: #fff;
    margin: 20px 0;
    /*color: var(--color-primary);*/
    transition: 0.3s;
    justify-content: space-between;
    text-transform: capitalize;
}

.services-detail .icon {
    font-size: 20px !important;
    margin-right: 10px;
    color: var(--color-yellow);
}

.services-detail .services-detail-items .tag:hover {
    background: var(--color-cadimium-yellow);
    color: var(--color-black);
    border: none;
}


.services-list .service-item {
    padding: 20px;
    background: #fff;
    height: 100%;
}

.services-list .service-item .icon {
    width: 48px;
    height: 48px;
    position: relative;
    border-radius: 50px;
    margin-bottom: 10px;
    padding: 10px 8px;
}

.services-list .service-item .icon .item-icon {
    color: #ebebed;
    font-size: 30px;
    transition: ease-in-out 0.3s;
    z-index: 2;
    position: relative;
    line-height: 1.8;
}


.services-list .service-item h3 {
    color: var(--color-primary);
    font-weight: 700;
    margin: 0 0 20px 0;
    padding-bottom: 8px;
    font-size: 20px;
    position: relative;
    display: inline-block;
    border-bottom: 4px solid #ebebed;
    text-transform: capitalize;
    transition: 0.3s;
}

.services-list .service-item p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.services-list .service-item .readmore {
    margin-top: 15px;
    display: inline-block;
    color: var(--color-secondary);
}

.services-list .service-item .icon2 {
    margin-left: 10px;
    display: inline-block;
    color: var(--color-secondary);
}

.services-list .service-item:hover .icon {
    background: var(--color-secondary);
    color: #ebebed !important;
}

.services-list .service-item:hover h3 {
    border-color: var(--color-secondary);
}

.services-list .pagination {
    padding: 20px 0 20px 0;
    margin: 30px 0 0 0;
    background: var(--color-white);
}

.services-list .pagination-data {
    padding: 0;
    margin: 0;
}

.services-list .pagination-data li {
    list-style: none;
}

.rc-pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.rc-pagination-item,
.rc-pagination-prev,
.rc-pagination-jump-prev,
.rc-pagination-jump-next {
    margin-right: 8px;
}

.rc-pagination-total-text {
    margin-right: 12px;
    cursor: initial;
    color: var(--color-default);
    font-family: var(--font-primary);
}

.rc-pagination-jump-next,
.rc-pagination-jump-prev,
.rc-pagination-next,
.rc-pagination-prev {
    display: inline-block;
    min-width: 28px;
    height: 28px;
    color: rgba(0, 0, 0, .85);
    line-height: 28px;
    text-align: center;
    vertical-align: middle;
    list-style: none;
    border-radius: 2px;
    cursor: pointer;
    transition: all .3s;

}

.rc-pagination-jump-next button,
.rc-pagination-jump-prev button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #666;
    font-size: 30px;
}

.rc-pagination-jump-next button:after,
.rc-pagination-jump-prev button:after {
    display: block;
    content: "•••";
}

.rc-pagination-item,
.rc-pagination-prev,
.rc-pagination-next,
.rc-pagination-total-text {
    min-width: initial;
    height: auto;
    line-height: initial;
    background-color: transparent;
    border: none;
    cursor: pointer;

}

.rc-pagination-item a,
.rc-pagination-item button,
.rc-pagination-prev a,
.rc-pagination-prev button,
.rc-pagination-next a,
.rc-pagination-next button,
.rc-pagination-total-text a,
.rc-pagination-total-text button {
    padding: 6px 8px;
    height: auto;
    min-width: 32px;
    min-height: 32px;
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    color: #656f84 !important;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
}

.rc-pagination-item.rc-pagination-item-active a,
.rc-pagination-item.rc-pagination-item-active a:hover,
.rc-pagination-prev.rc-pagination-item-active a,
.rc-pagination-prev.rc-pagination-item-active a:hover,
.rc-pagination-next.rc-pagination-item-active a,
.rc-pagination-next.rc-pagination-item-active a:hover,
.rc-pagination-total-text.rc-pagination-item-active a,
.rc-pagination-total-text.rc-pagination-item-active a:hover {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
    color: #ffffff !important;
}

.rc-pagination-item a:hover,
.rc-pagination-item button:hover,
.rc-pagination-prev a:hover,
.rc-pagination-prev button:hover,
.rc-pagination-next a:hover,
.rc-pagination-next button:hover,
.rc-pagination-total-text a:hover,
.rc-pagination-total-text button:hover {
    background-color: #eceff5;
    border-color: #eceff5;
}

@media screen and (max-width: 365px) {
    .rc-pagination-total-text {
        display: none;
        visibility: hidden;
    }
}

.about h2 {
    font-size: 48px;
    font-weight: 700;
    font-family: var(--font-secondary);
    color: var(--color-secondary);
    margin: 30px 0;
}

@media (min-width: 991px) {
    .about h2 {
        max-width: 65%;
        margin: 0 0 80px 0;
    }
}

.about .our-story {
    padding: 40px;
    background-color: #eee;
}

@media (min-width: 991px) {
    .about .our-story {
        padding-right: 35%;
    }
}

.about .our-story h4 {
    text-transform: uppercase;
    font-size: 18px;
    color: var(--color-yellow);
}


.about .accordion-item {
    /*background: transparent;*/
    border: none;


}


.about .accordion-header {
    max-width: 100%;

    /*padding: 20px 20px 0 20px;*/
    margin-bottom: 10px;
}

.about .accordion-header h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    margin: 0;
    transition: 0.3s;


}

.about .accordion-header h3 span {
    margin-right: 10px;
    color: var(--color-yellow);
    font-size: 20px;
    font-weight: 700;

}

.about .accordion-body {
    padding-top: 0;
    padding-bottom: 10px;
}

.about .accordion-body {

}

.about .accordion-button {
    /*border: none;*/
    color: var(--color-secondary);
    background-color: transparent;
    box-shadow: none;

}


.about .about-img {
    min-height: 600px;
    background-size: cover;
    background-position: center;
}

@media (min-width: 992px) {
    .about .about-img {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.principles {
    /*background: var(--color-primary);*/
    margin-bottom: -80px;
    padding-bottom: 120px;
}

.principles .icon-box {
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    padding: 50px 30px;
    border-radius: 5px;
    transition: all ease-in-out 0.4s;
    background: var(--color-white);
}

.principles h4 {
    color: var(--color-primary);
}

.principles .icon-box .icon {
    margin-bottom: 10px;
}

.principles .icon-box .icon .ico {
    color: var(--color-cadimium-yellow);
    font-size: 36px;
    transition: 0.3s;
}


.principles .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.principles .icon-box:hover {
    transform: translateY(-10px);
}


.principles ul, .about .accordion-item ul {
    list-style: none;
    padding: 0;
}

.about .accordion-item ul {
    margin-top: 10px;
    padding-left: 15px;
}

.principles ul li, .about .accordion-item ul li {
    padding-left: 28px;
    position: relative;
    text-transform: capitalize;
}

.principles ul li + li, .about .accordion-item ul li + li {
    margin-top: 5px;
}

.principles ul .ico1, .about .accordion-item .ico1 {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: var(--color-primary);
    line-height: 1;
}

