
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;

}

a {
    color: #106eea;
    text-decoration: none;
}

a:hover {
    color: #3b8af2;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #106eea;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #3284f1;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

#topbar {
    background: #2CC73E;
    height: 40px;
    color: #fff;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    z-index: 996;
    transition: all 0.5s;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    background: #fff;
    transition: all 0.5s;
    height: 66px;
    z-index: 997;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;

}

.menu-items {
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}


.menu-item {
    position: relative;
    display: flex;
    text-transform: capitalize;
    justify-content: space-between;
    width: 100%;
}

.menu-items > li {
    white-space: nowrap;
    padding: 10px 0 10px 28px;
}

.menu-item, .menu-item:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-size: 15px;
    font-weight: 600;
    color: #222222;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
}

.menu-item i, .menu-item:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.menu-items > li a:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #106eea;
    visibility: hidden;
    width: 0;
    transition: all 0.3s ease-in-out 0s;
}

.menu-item.active:before {
    visibility: visible;
    width: 100%;
}

.menu-item:hover, .menu-item.active {
    color: #106eea;
    transition: color 0.3s ease-in-out 0s;
}

.dropdown-menu, .mega-menu {
    display: block;
    position: absolute;
    left: 28px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}


.mega-menu {
    margin: 10px 0 0 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    font-size: 14px;
    padding: 60px 0 30px 0;
    background: #fff;
}

.mega-menu .mega-links {
    margin-bottom: 30px;
}

.mega-menu .mega-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.mega-menu .mega-links ul i {
    padding-right: 2px;
    font-size: 18px;
    line-height: 1;
    color: #111111;
}

.mega-menu .mega-links ul i:hover {
    color: #106eea;
}

.mega-menu .mega-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.mega-menu .mega-links ul li:first-child {
    padding-top: 0;
}


.mega-menu .mega-links ul a {
    color: #111111;
    transition: 0.3s;
    display: inline-block;
    text-transform: capitalize;
    border-bottom: 1px solid #777777;
    line-height: 1;
}


.mega-menu .mega-links ul a:hover {
    color: #3b8af2;
    text-decoration: none;
}


.mega-dropdown:hover .mega-menu {
    top: 50px;
    opacity: 1;
    visibility: visible;

}


.dropdown-menu li {
    min-width: 200px;
}

.dropdown-menu a {
    padding: 10px 20px;
    font-weight: 400;
}


.dropdown-menu a:hover, .dropdown-menu .active:hover, .dropdown-menu li:hover > a {
    color: #106eea;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    top: 100%;
    visibility: visible;
}


/**
* Mobile Navigation
*/


.mobile-nav-toggle {
    color: #222222;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .menu-items {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(9, 9, 9, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile .mega-links ul {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
}

.navbar-mobile .mega-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    border-bottom: 0;
    line-height: 0;
}

.navbar-mobile .mega-links {
    margin-bottom: 0;
}

.navbar-mobile a {
    /*padding: 10px 20px;*/
    font-size: 15px;
    color: #222222;
}

.navbar-mobile .mega-links ul > li:first-child {
    padding: 10px 0;
}


.navbar-mobile a:hover:before, .navbar-mobile li:hover > a:before, .navbar-mobile .active:before {
    visibility: hidden;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
    color: #106eea;
}


.navbar-mobile .dropdown ul, .navbar-mobile .mega-menu {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .mega-dropdown {
    overflow-x: hidden;
}

.navbar-mobile .mega-links ul li {
    min-width: 200px;
    padding: 10px 0;
    display: block;
    align-items: center;
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a, .navbar-mobile .mega-links ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
    color: #106eea;
}

.navbar-mobile .dropdown > .dropdown-active {
    display: block;
}


.navbar-mobile .mega-dropdown > .mega-active {
    display: block;
}

.mega-menu-inactive {
    display: none;
}

.navbar-mobile .mega-menu .container {
    margin: 0;
    padding: 0;
}

.navbar-mobile .mega-links ul i {
    display: none;
}


.nav-open {
    transform: translateX(0);
}

.nav-close {
    transform: translateX(-100%);
}


section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #f6f9fe;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    margin: 0;
    background: #e7f1fd;
    color: #106eea;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
}

.section-title h3 {
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
}

.section-title h3 span {
    color: #106eea;
}

.section-title p {
    margin: 15px auto 0 auto;
    font-weight: 600;
}

@media (min-width: 1024px) {
    .section-title p {
        width: 50%;
    }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
    padding: 20px 0;
    background-color: #f1f6fe;
    min-height: 40px;
}

.breadcrumbs h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
}

@media (max-width: 992px) {
    .breadcrumbs h2 {
        margin: 0 0 10px 0;
    }
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.breadcrumbs ol li + li {
    padding-left: 10px;
}

.breadcrumbs ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: #6c757d;
    content: "/";
}

@media (max-width: 768px) {
    .breadcrumbs .d-flex {
        display: block !important;
    }

    .breadcrumbs ol {
        display: block;
    }

    .breadcrumbs ol li {
        display: inline-block;
    }
}

#nprogress .bar {
    height: 4px !important;
}

.ql-editor {
    min-height: 300px;
}

.featured-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

#hero {
    width: 100%;
    height: 90vh;
    background-color: rgba(4, 12, 21, 0.8);
    overflow: hidden;
    position: relative;
}

#hero .carousel, #hero .carousel-inner, #hero .carousel-item, #hero .carousel-item::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#hero .carousel-item {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

#hero .carousel-item::before {
    content: '';
    background-color: rgba(4, 12, 21, 0.5);
}

#hero .carousel-container {
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: left;
    position: absolute;
    bottom: 0;
    top: 82px;
    left: 50px;
    right: 50px;
}

#hero h2 {
    color: #fff;
    margin: 0;
    font-size: 48px;
    text-transform: capitalize;
    font-weight: 700;
}

#hero p {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    color: #fff;
    margin-top: 10px;
}

@media (min-width: 1200px) {
    #hero p {
        width: 75%;
    }
}

#hero .carousel-inner .carousel-item {
    transition-property: opacity;
    background-position: center top;
}


#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
    opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
    opacity: 1;
    transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
    left: 0;
    transform: translate3d(0, 0, 0);
}


#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
    background: none;
    font-size: 30px;
    line-height: 0;
    height: auto;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.5);
    width: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero .carousel-control-next-icon:hover, #hero .carousel-control-prev-icon:hover {
    background: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.8);
}

#hero .carousel-indicators li {
    cursor: pointer;
    background: #fff;
    overflow: hidden;
    border: 0;
    margin: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    opacity: .6;
    transition: 0.3s;
}

#hero .carousel-indicators li.active {
    opacity: 1;
    background: #106eea;
}

#hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 32px;
    border-radius: 4px;
    transition: 0.5s;
    line-height: 1;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    background: #106eea;
    margin-top: 15px;
}

#hero .btn-get-started:hover {
    background: #010483;
}

@media (max-width: 992px) {
    #hero {
        height: 100vh;
    }

    #hero .carousel-container {
        text-align: center;
        top: 74px;
    }
}

@media (max-width: 768px) {
    #hero h2 {
        font-size: 30px;
    }
}

@media (min-width: 1024px) {
    #hero .carousel-control-prev, #hero .carousel-control-next {
        width: 5%;
    }
}

@media (max-height: 500px) {
    #hero {
        height: 120vh;
    }
}


.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #106eea;
}

.preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #106eea;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.back-to-top {
    position: fixed;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #106eea;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #003b7a;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}


/*img {*/
/*    text-indent: -9999px*/
/*}*/


.header-bg {
    z-index: 1;
    padding: 240px 0 120px;
}

.header-bg::before {
    z-index: 1;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}

@media (min-width: 1025px) {
    .header-bg {
        background-attachment: fixed;
    }
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered h1 {
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 0;
}


.centered h2 {
    color: #fff;
    font-size: 38px;
    line-height: 40px;
    margin-bottom: 0;
}



