:root {
    --font-default: Open Sans, system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --font-primary: Montserrat, sans-serif;
    --font-secondary: Raleway, sans-serif;
}

/* Colors */
:root {
    --color-default: #383d40;
    /*--color-primary: #0094da; */
    --color-primary: #0e8d45;
    --color-primary-2: #1bbd36;
    --color-black: #000000;
    --color-black-logo: #383d40;
    --color-primary-light: #009bd9;
    --color-secondary: #47b2e4;
    /*--color-secondary: #37517e;*/
    --color-secondary-2: #37517e;
    --color-white: #ffffff;
    --color-white-rgb: 255, 255, 255;
    --color-primary-rgb: 14, 162, 189;
    --color-secondary-dark: #3a4753;
    --color-yellow: #fdc134;
    --color-cadimium-yellow: #FDDA0D;

}

/* Smooth scroll behavior */
:root {
    scroll-behavior: smooth;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow-y: scroll !important;
    overflow-x: hidden;
    height: 100%;
    font-size: 14px;
}

body {
    font-family: var(--font-default);
    color: var(--color-default);
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 26px;
    text-decoration: none;
    text-transform: none;
    letter-spacing: -0.13px
}


a {
    color: var(--color-secondary);
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #82cbed;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    font-weight: 700;


}

h1 {
    /*font-size: 4.063em;*/
    line-height: 1.23em;
    letter-spacing: -0.5px;
    /*margin-top: 8.1rem;*/
    /*margin-bottom: 4.7rem*/
}

h2 {

    /*font-size: 3.438em;*/
    line-height: 1.18em;
    letter-spacing: -0.5px;
    /*margin-top: 6.7rem;*/
    /*margin-bottom: 2.85rem*/
}

h3 {
    /*font-size: 2.688em;*/
    line-height: 1.4em;
    letter-spacing: -0.4px;
    /*margin-top: 5.9rem;*/
    /*margin-bottom: 2.5rem*/
}

h4 {
    /*font-size: 2.25em;*/
    line-height: 1.33em;
    text-decoration: none;
    /*margin-top: 5.2rem;*/
    /*margin-bottom: 2.4rem*/
}

h5 {
    /*font-size: 1.688em;*/
    line-height: 1.57em;
    letter-spacing: -0.25px;
    /*margin-top: 4.5rem;*/
    /*margin-bottom: 1.7rem*/
}

h6 {
    /*font-size: 1.25em;*/
    line-height: 1.5em;
    letter-spacing: -0.2px
}

@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0s !important;
    }
}

#header {
    background: #fff;
    height: 86px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
    z-index: 997;
}


#home-header {
    transition: all 0.5s;
    z-index: 997;
    top: 20px;
}


#home-header .header-container {
    background: #ffffff;
}


#home-header.header-scrolled {
     background: #ffffff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    top: 0;
}

#header.fixed-top {
    height: 70px;
}



#header .logo img {
    max-height: 45px;
}

#header .logo-fixed img {
    max-height: 40px;
}

#home-header .home-logo {
    overflow: hidden;
    padding: 16px 30px 12px 30px;
    background: var(--color-primary);
}

@media (min-width: 992px) {
    #home-header .scrolled-logo {
        background: #ffffff;
    }
}


#home-header .home-logo h1 {
    font-size: 26px;
    padding: 0;
    line-height: 1;
    font-weight: 700;

}

#home-header .home-logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
}


@media (max-width: 992px) {
    #home-header {
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        top: 0;
        background: #ffffff;
    }

    #home-header.header-scrolled, #home-header .header-container {
        background: #ffffff;
    }

    #home-header .home-logo {
        background: #ffffff;
    }

    #home-header .home-logo {
        padding-left: 0;
    }

    #home-header .home-logo h1 {
        font-size: 24px;
    }
}


.scrolled-offset {
    margin-top: 60px;
}


.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;

}

.navbar li {
    position: relative;
}

/*.navbar > ul > li {*/
/*    white-space: nowrap;*/
/*    padding: 10px 0 10px 28px;*/
/*}*/

.navbar a, .navbar a:focus, .navbar .signOut {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 15px;
    transition: 0.3s;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    text-transform: capitalize;
    font-family: var(--font-default);
    white-space: nowrap;

}

.navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: var(--color-primary);
}

.navbar .getstarted, .navbar .getstarted:focus {
    background: var(--color-primary);
    padding: 10px 25px;
    text-transform: uppercase;
    margin-left: 30px;
    margin-right: 15px;
    border-radius: 50px;
    color: #fff;
}

.navbar .getstarted:hover, .navbar .getstarted:focus:hover {
    color: #fff;
    background: var(--color-primary);
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-weight: 500;
}

.navbar .dropdown ul a {
    text-transform: capitalize;
    word-wrap: break-word;
    white-space: pre-line;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: var(--color-primary);
}

.navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover > ul {
        left: -100%;
    }
}

/**
* Mobile Navigation
*/

.mobile-nav-toggle {
    color: #000000;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;

    }

    .navbar ul {
        display: none;
    }


    .navbar-mobile {
        position: fixed;
        overflow: hidden;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(29, 28, 31, 0.9);
        transition: 0.3s;
        z-index: 999;
    }

    .navbar-mobile .mobile-nav-toggle {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .navbar-mobile ul {
        display: block;
        position: absolute;
        top: 55px;
        right: 15px;
        bottom: 15px;
        left: 15px;
        padding: 10px 0;
        background-color: #fff;
        overflow-y: auto;
        transition: 0.3s;
    }

    .navbar-mobile a, .navbar-mobile a:focus, .navbar-mobile .signOut {
        padding: 10px 20px;
        font-size: 15px;
        color: #36343a;
    }

    .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
        color: var(--color-primary);
    }

    .navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
        margin: 15px;
    }

    .navbar-mobile .dropdown ul {
        position: static;
        display: none;
        margin: 10px 20px;
        padding: 10px 0;
        z-index: 99;
        opacity: 1;
        visibility: visible;
        background: #fff;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    }

    .navbar-mobile .dropdown ul li {
        min-width: 200px;
    }

    .navbar-mobile .dropdown ul a {
        padding: 10px 20px;
    }

    .navbar-mobile .dropdown ul a i {
        font-size: 12px;
    }

    .navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
        color: var(--color-primary);
    }

    .navbar-mobile .dropdown > .dropdown-active {
        display: block;
    }
}

/*--------------------------------------------------------------
/*# Breadcrumbs*/
/*--------------------------------------------------------------*!*/
.breadcrumbs {
    padding: 15px 0;
    background: var(--color-primary);;
    min-height: 40px;
    /*margin-top: 72px;*/
}

.breadcrumbs h2 {
    font-size: 26px;
    font-weight: 300;
    color: var(--color-white);
    text-transform: capitalize;
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    text-transform: capitalize;
    margin: 0;
    color: var(--color-white);
}

.breadcrumbs ol a {
    color: var(--color-white);
}

.breadcrumbs ol li + li {
    padding-left: 10px;
}

.breadcrumbs ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: var(--color-white);
    content: "/";
}

@media (max-width: 991px) {
    /*.breadcrumbs {*/
    /*  margin-top: 58px;*/
    /*}*/
    .breadcrumbs .d-flex {
        display: block !important;
    }

    .breadcrumbs ol {
        display: block;
    }

    .breadcrumbs ol li {
        display: inline-block;
    }
}

.section, section {
    padding: 80px 0;
    overflow: hidden;
}


.section-bg {
    /*background-color: #ecf5ff;*/
    background-color: #f3f5fa;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

@media (max-width: 768px) {
    .section-title {
        padding-bottom: 10px;
    }
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: var(--color-primary);
}

.section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: var(--color-yellow);
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: var(--color-secondary);
    bottom: 0;
    left: calc(50% - 20px);
}

.section-title p {
    margin-bottom: 0;
}

.blog-section {
    overflow: hidden;
    padding: 60px 0;
}

#nprogress .bar {
    height: 4px !important;
}

.ql-editor {
    min-height: 300px;
}

.featured-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

#home-hero {
    margin-top: -100px;
    width: 100%;
    height: 90vh;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;

}

#home-hero .container {
    z-index: 3;
    padding-top: 80px;
}

#home-hero:before {
    z-index: 2;
    content: "";
    background: linear-gradient(45deg, rgba(29, 224, 153, 0.85), rgba(29, 200, 205, 0.85)), center top no-repeat;
    /*background: linear-gradient(rgba(29, 200, 205, 0.65), rgba(29, 205, 89, 0.2)), center top no-repeat;*/
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;

}

#home-hero h1 {
    margin: 0;
    line-height: 56px;
    font-size: 48px;
    font-weight: 400;
    color: #fff;
}

#home-hero h2 {
    color: #ffffff;
    text-transform: uppercase;
    margin: 10px 0 0 0;
    font-size: 24px;
}

#home-hero .btn-get-started, .upload-btn {
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 35px;
    margin-top: 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #0e8d45;;
}

#home-hero .btn-get-started:hover, .upload-btn {
    background: #009970;
    border: 2px solid #009970;
}

@media (min-width: 1024px) {
    #home-hero {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #home-hero {
        height: 100vh;
    }

    #home-hero .container {
        padding-top: 60px;
    }

    #home-hero h1 {
        font-size: 32px;
        line-height: 36px;
    }
}


#hero {
    width: 100%;
    height: 66.66vh;
    /*background-color: rgba(60, 60, 60, 0.8);*/
    background-color:var(--color-secondary);
    overflow: hidden;
    position: relative;
}

#hero .carousel, #hero .carousel-inner, #hero .carousel-item, #hero .carousel-item::before {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#hero .carousel-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    bottom: 60px;
    top: 70px;
    left: 55px;
    right: 55px;
}

#hero .carousel-content {
    background: rgba(4, 4, 4, 0.7);
    padding: 20px;
    color: #fff;
    border-top: 5px solid var(--color-primary-2);
}


#hero .carousel-content h2 {
    color: #fff;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-size: 28px;
    font-weight: 700;
}

#hero .carousel-content p {
    color: #ffffff;

}

.uh-oh {
    text-transform: capitalize;
    color: black;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 500;
}

#hero .btn-get-started {
    font-family: var(--font-default);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 4px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    /*color: #441f00;*/
    color: #ffffff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #ffffff;
}

#hero .btn-get-started:hover {
    color: #ffffff;
    background: var(--color-primary);
    text-decoration: none;
}

#hero .carousel-inner .carousel-item {
    transition-property: opacity;
    background-position: center top;
}

#hero .btn-get-started:hover {
    color: #ffffff;
    background: var(--color-primary);
    text-decoration: none;
}

#hero .carousel-inner .carousel-item {
    transition-property: opacity;
    background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
    opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
    opacity: 0.8;
    transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
    left: 0;
    transform: translate3d(0, 0, 0);
}

#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
    background: none;
    font-size: 30px;
    line-height: 0;
    background: var(--color-primary);
    border-radius: 50px;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.85);
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero .carousel-control-next-icon:hover, #hero .carousel-control-prev-icon:hover {
    background: var(--color-yellow);
    color: rgba(255, 255, 255, 0.8);
}

#hero .carousel-indicators li {
    cursor: pointer;
    background: #fff;
    overflow: hidden;
    border: 0;
    display: none;
    width: 12px;
    margin-right: 3px;
    height: 12px;
    border-radius: 50px;
    opacity: 0.6;
    transition: 0.3s;
}

.carousel-control-next, .carousel-control-prev {
    opacity: 1;
}

.carousel-control-next:hover, .carousel-control-prev:hover {
    opacity: 0.5;
}

#hero .carousel-indicators li.active {
    opacity: 1;
    display: none;
    background: var(--color-primary);
}

@media (min-width: 1024px) {
    #hero .carousel-content {
        width: 45%;
    }

    #hero .carousel-control-prev, #hero .carousel-control-next {
        width: 5%;
    }
}

@media (max-width: 992px) {
    #hero .carousel-container {
        top: 58px;
    }

    #hero .carousel-content h2 {
        margin-bottom: 15px;
        font-size: 22px;
    }

    #hero .carousel-content p {
        font-size: 15px;
    }
}

@media (max-height: 500px) {
    #hero {
        height: 120vh;
    }
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: var(--color-primary);
}

.preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid var(--color-primary);
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.back-to-top {
    position: fixed;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: var(--color-primary);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: var(--color-secondary);
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}


.header-bg {
    z-index: 1;
    padding: 120px 0 180px;
}

.header-bg::before {
    z-index: 1;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /*background: #294a70;*/
    background: var(--color-primary);


}

@media (min-width: 1025px) {
    .header-bg {
        background-attachment: fixed;
    }
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered h1 {
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 0;
}

.centered h2 {
    color: #fff;
    font-size: 38px;
    line-height: 40px;
    margin-bottom: 0;
}

.btn-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}

.btn {
    margin-bottom: 10px;
}

#clients {
    padding: 12px 0;
    background: #eff5f5;
    text-align: center;
}

#clients img {
    max-width: 30%;
    object-fit: contain;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 10px 0;
    /*filter: grayscale(100);*/
}

#clients img:hover {
    filter: none;
    transform: scale(1.1);
}

/*@media (max-width: 768px) {*/
/*    #clients img {*/
/*        max-width: 40%;*/
/*    }*/
/*}*/

.page-intro h4 {
    font-size: 22px;
    font-weight: bold;
    color: var(--color-primary);
    padding-bottom: 12px;
}

.page-intro ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-intro ul i {
    padding-right: 2px;
    color: var(--color-primary);
    font-size: 18px;
    line-height: 1;
}


.page-intro ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.page-intro ul a {
    color: #111;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

.page-intro ul a:hover {
    text-decoration: none;
    color: var(--color-primary);
}


/*.organogram .accordion-list {*/
/*    padding: 0 100px 60px 100px;*/
/*}*/

.organogram .accordion-button, .laboratory .accordion-button {
    box-shadow: none;
    width: 100% !important;
    background: #fff;
    color: var(--color-secondary);
    font-family: var(--font-primary);
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
}


.organogram .accordion-list span, .laboratory .accordion-list span {
    color: var(--color-secondary);
    font-weight: 600;
    font-size: 18px;
    padding-right: 10px;
}

.organogram .accordion-button::after, .laboratory .accordion-button::after {
    font-size: 24px;
}

.organogram .accordion-body, .laboratory .accordion-body {
    margin-bottom: 0;
    padding: 0 1.25rem;
}

.homepage-about .content p:last-child {
    margin-bottom: 0;
}

.homepage-about .btn {
    background: linear-gradient(45deg, #1de099, #1dc8cd);
    border: 0;
    border-radius: 20px;
    padding: 8px 30px;
    color: #fff;
}

/*.homepage-about .btn:hover {*/
/*    background: #52e052;*/
/*    color: #fff;*/
/*    text-decoration: none;*/
/*}*/

.cta {
    background: linear-gradient(rgba(29, 200, 205, 0.65), rgba(29, 205, 89, 0.2)), url("/herp.jpg") fixed center center;
    background-size: cover;
    padding: 80px 0;
    overflow: hidden;
}


.cta .cta-title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

.cta .cta-text {
    color: #fff;
}

@media (min-width: 769px) {
    .cta .cta-btn-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.cta .cta-btn {
    font-family: var(--color-primary);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 25px;
    transition: background 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

.cta .cta-btn:hover {
    background: #1dc8cd;
    border: 2px solid #1dc8cd;
}


/*.cta h3 {*/
/*    color: #fff;*/
/*  font-size: 28px;*/
/*  font-weight: 700;*/
/*}*/

/*.cta p {*/
/*    color: #fff;*/
/*}*/

/*.cta p span {*/
/*    font-weight: 900;*/
/*    letter-spacing: 1px;*/
/*    font-size: 20px;*/

/*    color: #ffa500;*/

/*}*/

/*@media (min-width: 769px) {*/
/*  #call-to-action .cta-btn-container {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: flex-end;*/
/*  }*/
/*}*/

/*#call-to-action .cta-btn {*/
/*  font-family: "Montserrat", sans-serif;*/
/*  font-weight: 500;*/
/*  font-size: 16px;*/
/*  letter-spacing: 1px;*/
/*  display: inline-block;*/
/*  padding: 8px 30px;*/
/*  border-radius: 25px;*/
/*  transition: background 0.5s;*/
/*  margin: 10px;*/
/*  border: 2px solid #fff;*/
/*  color: #fff;*/
/*}*/

/*#call-to-action .cta-btn:hover {*/
/*  background: #1dc8cd;*/
/*  border: 2px solid #1dc8cd;*/
/*}*/

/*@media (max-width: 1024px) {*/
/*    .cta {*/
/*        background-attachment: scroll;*/
/*    }*/
/*}*/

/*@media (min-width: 769px) {*/
/*    .btnContainer {*/
/*        display: flex;*/
/*        align-items: center;*/
/*        justify-content: flex-end;*/
/*    }*/
/*}*/

.featured {
    background: #e9fbe9;
    /*background: #1bbd36;*/
}


.featured .section title h2 {
    color: var(--color-primary);
}

.featured .section title h2::after {
    background: var(--color-primary);
}

.featured .card {
    /*background: #00458f;*/
    /*border-color: #00458f; */

    background: var(--color-primary);
    border-color: var(--color-primary);
    border-radius: 10px;
    margin: 0 15px;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s ease-in-out;
    height: 100%;
}

@media (max-width: 991px) {
    .featured .card {
        margin: 0;
    }
}

/*.card:hover {*/
/*    background:  #52e052;*/
/*    border-color:  #52e052;*/
/*}*/

.featured .card i {
    font-size: 48px;
    padding-top: 15px;
    color: #ffffff;
}

.featured .card h3 {
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 600;
}

.featured .card p {
    font-size: 15px;
    color: #ffffff;
}


.home-blog .post-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;

}

.home-blog .post-image {
    overflow: hidden;
    margin: -30px -30px 15px -30px;
    position: relative;
}

.home-blog .post-image img {
    transition: 0.5s;
}

.home-blog .post-date {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-secondary);
    display: block;
    margin-bottom: 10px;
}

.home-blog .post-title {
    font-size: 18px;
    color: var(--color-secondary);
    font-weight: 700;
    margin-bottom: 9px;
    text-transform: capitalize;
    position: relative;
    transition: 0.3s;
}

.home-blog .l-btn {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 1;
    color: var(--color-primary);
    transition: 0.3s;
}

.home-blog .l-btn i {
    line-height: 0;
    margin-left: 4px;
    font-size: 18px;
    color: var(--color-primary);
}

.home-blog .post-box:hover .PostTitle {
    color: var(--color-secondary);
}

.home-blog .post-box:hover .PostImg img {
    transform: rotate(6deg) scale(1.2);
}


.home-roles .content h3 {
    font-weight: 600;
    font-size: 26px;
}

.home-roles .content ul {
    list-style: none;
    padding: 0;
}

.home-roles .content ul li {
    padding-left: 28px;
    position: relative;
}

.home-roles .content ul li + li {
    margin-top: 10px;
}

.home-roles .content ul .icon {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px !important;
    color: var(--color-primary);
    line-height: 1;
}

.home-roles .content p:last-child {
    margin-bottom: 0;
}

.home-roles .content .btn-learn-more {
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 4px;
    transition: 0.3s;
    line-height: 1;
    color: var(--color-primary);
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid var(--color-primary);
}

.home-roles .content .btn-learn-more:hover {
    background: var(--color-primary);
    color: #fff;
    text-decoration: none;
}

.temporary {
    min-height: 450vh !important;
}

.services .icon-box {
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    padding: 50px 30px;
    transition: all ease-in-out 0.4s;
    background: var(--color-white);
}

/*.services .icon-box .icon {*/
/*  margin-bottom: 10px;*/
/*}*/

/*.services .icon-box .icon .ico {*/
/*  color: var(--color-secondary);*/
/*  font-size: 36px;*/
/*  transition: 0.3s;*/
/*}*/

.services .icon-box h4 {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 24px;
}

.services .icon-box h4 a {
    color: var(--color-secondary-2);
    transition: ease-in-out 0.3s;
}

.services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.services .icon-box:hover {
    transform: translateY(-10px);
}

.services .icon-box:hover h4 a {
    color: var(--color-secondary);
}

