
.Recent .Item + .Item {
    margin-top: 15px;
}

.Recent img {
    width: 80px;
    height: 55px;
    object-fit: cover; /* Ensure images maintain aspect ratio and cover the area */
    float: left;
    border-radius: 4px;
}

.Recent h4 {
    font-size: 15px;
    margin-left: 95px;
    font-weight: bold;
}

.Recent h4 a {
    color: var(--color-mixed-paragraph-10);
    text-transform: capitalize;
    transition: 0.3s;
}

.Recent h4 a:hover {
    color: var(--color-secondary);
}

.Time {
    display: block;
    margin-left: 95px;
    font-style: italic;
    font-size: 14px;
    color: var(--color-text-3);
}
