.Navbar {
    padding: 0;
}

.Navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
}

.Navbar li {
    position: relative;
}

.Navbar > ul > li {
    white-space: nowrap;
    padding: 10px 0 10px 28px;
}

.Navbar a, .Navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-size: 15px;
    font-weight: 600;
    color: #222222;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
}

.Navbar a i, .Navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.Navbar > ul > li > a:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #2CC73E;
    visibility: hidden;
    width: 0;
    transition: all 0.3s ease-in-out 0s;
}

.Navbar a:hover:before, .Navbar li:hover > a:before, .Navbar .active:before {
    visibility: visible;
    width: 100%;
}

.Navbar a:hover, .Navbar .active, .Navbar .active:focus, .Navbar li:hover > a {
    color: #2CC73E;
}


@media (max-width: 991px) {


}

/**
* Mobile Navigation
*/
.MobileNavToggle {
    color: #222222;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}


@media (max-width: 991px) {
    .MobileNavToggle {
        display: block;
    }

    .Navbar ul {
        display: none;
    }

    .Open {
        transform: translateX(0);
    }

    .Close {
        transform: translateX(-100%);
    }

}


.NavbarMobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(9, 9, 9, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.NavbarMobile .MobileNavToggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.NavbarMobile li {
    position: relative;
}

.NavbarMobile ul > li {
    white-space: nowrap;
    padding: 10px 0 10px 28px;
}


.NavbarMobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: transform 0.3s ease-out;
}


.NavbarMobile a {
    padding: 10px 20px;
    font-size: 15px;
    color: #222222;
}

.NavbarMobile > ul > li {
    padding: 0;
}

.NavbarMobile a:hover:before, .NavbarMobile li:hover > a:before, .NavbarMobile .active:before {
    visibility: hidden;
}

.NavbarMobile a:hover, .NavbarMobile .active, .NavbarMobile li:hover > a {
    color: #2CC73E;
}


