.SideBar {
    padding: 0;
    margin: 0 0 60px 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    max-height: 700px;
    overflow: auto;
    /*background: #f4a024;*/
}


.cardHeader h4 {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
    padding: 10px 0;
    margin: 0 0 15px 0;
    color: #fff;
    position: relative;
}


.card {
    background-color: #294a70;
    /*background-color: #f4a024;*/
}

.card ul {
    color: red;
}

.card ul li a {
    text-transform: capitalize;
    color: #09254b;
    background: #ecf5ff;
    transition: 0.3s;
}
