.Section{
    margin-top: 20px;
    background: var(--color-background1);
}


.Wrap {
    border-top: 1px solid #ececec;
    border-left: 1px solid #ececec;
}

.Logo {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    overflow: hidden;
    background: #fff;
    height: 100px;
}

.Logo img {
    transition: all 0.3s ease-in-out;
    height: 56px!important;
    /*filter: grayscale(100%);*/

}


.Logo:hover img {
    filter: none;
    height: 80px;
    transform: scale(1.1);
}