
.PostBox {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;

}

.PostImg {
    overflow: hidden;
    margin: -30px -30px 15px -30px;
    position: relative;
}

.PostImg img {
    transition: 0.5s;
}

.PostDate {
    font-size: 16px;
    font-weight: 600;
    color: #09254b;
    display: block;
    margin-bottom: 10px;
}

.PostTitle {
    font-size: 18px;
    color: #294a70;
    font-weight: 700;
    margin-bottom: 9px;
    text-transform: capitalize;
    position: relative;
    transition: 0.3s;
}

.Btn {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 1;
    color: #1bbd36;
    transition: 0.3s;
}

.Btn i {
    line-height: 0;
    margin-left: 4px;
    font-size: 18px;
    color: #1bbd36;
}

.PostBox:hover .PostTitle {
    color: #09254b;
}

.PostBox:hover .PostImg img {
    transform: rotate(6deg) scale(1.2);
}
