.ListItem {
    list-style: none;
    margin-top: 10px;
    padding-left: 15px;
}


.ListItems {
    padding-left: 28px;
    position: relative;


}

.Link {
    font-size: 14px;
    color: var(--color-text-2);
    font-family: var(--font-secondary);

}

.Link:hover {
    color: var(--color-primary1);
    text-decoration: underline;
}


.Icon {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 18px;
    color: var(--color-default);
    line-height: 1;
}