
.content {
    padding: 0 30px 30px;
    background: #fff
}

.content p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
}

@media (max-width: 1200px) {
    .content {
        padding: 0 10px 10px;
    }
}


.content h3 {
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #2c4964;
    text-transform: capitalize;
}


.Footer {
    margin-top: 40px;
    padding-top: 10px;
    border-top: 1px solid #2c4964;
}

.Footer i {
    color: #5e5e5e;
    display: inline;
}

.Footer a {
    color: #1e1e1e;
    transition: 0.3s;
}

.Footer a:hover {
    color: #1977cc;
}

.Cats {
    list-style: none;
    display: inline;
    padding: 0 20px 0 0;
    font-size: 14px;
}

.Cats li {
    display: inline-block;
}

.Tags {
    list-style: none;
    display: inline;
    padding: 0;
    font-size: 14px;
}

.Tags li {
    display: inline-block;
}

.Tags li + li::before {
    padding-right: 6px;
    color: #6c757d;
    content: ",";
}

.Cats li + li::before {
    padding-right: 6px;
    color: #6c757d;
    content: ",";
}