
.sectionTitle {
    padding-bottom: 40px;
}

.sectionTitle h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}

.sectionTitle h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #2CC73E;
    margin: 4px 10px;
}

.sectionTitle p {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #010483;
}

.departments {
    overflow: hidden;
}

.departments h3 {
    font-weight: 800;
    color: #010483;
}

.navTabs {
    border: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.navLink {
    border: 0;
    text-transform: capitalize;
    padding: 12px 15px 12px 0;
    transition: 0.3s;
    color: #2c4964;
    border-radius: 0;
    border-right: 2px solid #ebf1f6;
    font-weight: 600;
    font-size: 15px;
}

.navLink:hover {
    border-color: #1977cc;
    color: #1977cc;
}


.details h3 {
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #2c4964;
    text-transform: capitalize;
}


.details img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}


.details p:last-child {
    margin-bottom: 0;
}

@media (max-width: 992px) {
    .departments .navLink {
        border: 0;
        padding: 15px;
    }

}


.Footer {
    margin-top: 40px;
    padding-top: 10px;
    border-top: 1px solid #2c4964;
}

.Footer i {
    color: #5e5e5e;
    display: inline;
}

.Footer a {
    color: #1e1e1e;
    transition: 0.3s;
}

.Footer a:hover {
    color: #1977cc;
}

.Cats {
    list-style: none;
    display: inline;
    padding: 0 20px 0 0;
    font-size: 14px;
}

.Cats li {
    display: inline-block;
}

.Tags {
    list-style: none;
    display: inline;
    padding: 0;
    font-size: 14px;
}

.Tags li {
    display: inline-block;
}

.Tags li + li::before {
    padding-right: 6px;
    color: #6c757d;
    content: ",";
}

.Cats li + li::before {
    padding-right: 6px;
    color: #6c757d;
    content: ",";
}