
.Categories {
    list-style: none;
    padding: 0;
}

.Categories li + li {
    padding-top: 10px;
}

.Categories a {
    color: var(--color-text-2);
    transition: 0.3s;
}

.Categories a:hover {
    color: var(--color-secondary);
}

.Categories a span {
    padding-left: 5px;
    color: var(--color-text-2);
    font-size: 14px;
}
