.SideDrawer {
    position: fixed;
    width: 100%;
    overflow: hidden;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    background: rgba(60, 60, 60, 0.9);
    /*background-color:rgba(1,22,61,0.9);*/
    transition: transform 0.3s ease-out;
}



@media (min-width: 991px) {
    .SideDrawer {
        display: none;
    }
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

