.Card {
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.Card p {
    line-height: 24px;
    color: var(--color-text-2);
}

.Card h5 a {
    font-weight: 700;
    font-family: var(--font-secondary);
    text-transform: capitalize;
    margin-bottom: 5px;
    color: var(--color-secondary);
}

.Card h5 a:hover {
    color: var(--color-primary);
}

.Info {
    font-weight: 400;
    color: var(--color-secondary);
}

.Info a {
    color: var(--color-secondary);
}

.Info a:hover {
    color: var(--color-primary);
}

