.Topbar {
  background: #2CC73E;
  height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  color: #ffffff;
  padding:  0;
}


.ContactInfo i{
  font-style: normal;
  color: #fff;
}
.ContactInfo i a,.ContactInfo i span{
  padding-left: 5px;
}

.ContactInfo i a{
  line-height: 0;
  transition: 0.3s;
  color: #ffffff;
}
.ContactInfo i a:hover{
  color: #ffffff;
  text-decoration: underline;
}

.SocialLinks i{
  line-height: 0;
  transition: 0.3s;
  margin-left: 15px;
}




