.Section {
    padding: 60px 0;
    background: #ecf5ff;
    overflow: hidden;
    position: relative;
}

.SectionTitle {
    text-align: center;
    padding-bottom: 30px;
    position: relative;
}

.SectionTitle h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.SectionTitle h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #106eea;
    bottom: 0;
    left: calc(50% - 25px);
}

.SectionTitle p {
    margin-bottom: 0;
    text-transform: capitalize;
}

.SectionBg {
    padding: 120px 0;
    color: #fff;
}

.SectionBg:before {
    content: "";
    background: #1b1b1b;
    position: absolute;
    bottom: 60px;
    top: 60px;
    left: 0;
    right: 0;
    transform: skewY(-3deg);
}

.Box {
    padding: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    Box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
    text-align: center;
    transition: all 0.4s ease-in-out;
    width: 100%;
    height: 100%;
    background: #2b2b2b;
}


.Box:hover {
    Box-shadow: 0 2px 35px 0 rgba(68, 88, 144, 0.2);
    transform: translateY(-10px) !important;
}


.Title {
    padding: 15px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}

.Box ul {
    padding: 0;
    list-style: none;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

.Box ul li {
    padding-bottom: 16px;
}

.Box ul i {
    color: #e03a3c;
    font-size: 18px;
    padding-right: 4px;
}

.Btn {
    padding: 15px;
    text-align: center;
}

.BtnClick {
    display: inline-block;
    padding: 10px 40px 12px 40px;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    transition: 0.3s;
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.BtnClick:hover {
    border-color: #fff;
}