.MenuItem {
    position: relative;
    text-transform: capitalize;
    padding: 0 3px;
}

.MenuItem, .MenuItem:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 600;
    color: #222222;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
}

.MenuItem i, .MenuItem:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}